@import '../../theme.scss';

.avatar-border {
    border: 5px solid map-get($theme-colors, primary);
    border-radius: 50%;
    height: 194px;
    width: 194px;
    padding: 2px;
    display: inline-block;
    .avatar{
        height: 180px;
        width: 180px;
        border-radius: 50%;
        background-color: map-get($theme-colors, primary); 
        text-align: center;
        font-size: 18px;
        line-height: 34px;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 36px;
        img{
            display: block;
            width: 100%;
        }
    }
}