<div *ngIf="skill && skill.level; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <div class="skill text-left mt-3 mb-3">
        <div class="{{projects.length > 0 ? 'selectable' : ''}} small" (click)="expand()">
            <span class="skill-label font-weight-bold text-right mr-3">{{skill.name}}</span>
            <div class="perc-bar" [ngStyle]="{'color': barcolour}">
                
                <div class="perc-bar-progress" [ngStyle]="{'width.%': level == null ? 0 : level, 'background-color': barcolour}">
                    <span *ngIf="projects.length > 0" class="">{{projects.length}} {{projects.length === 1 ? "Project" : "Projects"}}</span>
                </div>
                <span class="skill-level ml-2">{{skilllevel}}</span>
            </div>
        </div>
        <div *ngIf="expanded" class="text-center mt-2 mb-2">
            <button 
                *ngFor="let project of projects" 
                class="btn badge badge-primary text-primary-text m-2"
                (click)="selectProject(project)"
            >
                {{project.name}}
            </button>
        </div>
    </div>
</ng-template>
<ng-template #elseBlock>
    <span *ngIf="skill" class="badge badge-tertiary m-2">{{skill.name}}</span>
</ng-template>