@import '../../theme.scss';

.carousel-inner{
    img{
        max-height: 500px;
        max-width: 100%;
        margin: 0 auto;
    }
}

.carousel-control-prev,
.carousel-control-next{
    width: 5%;
}

.images{
    color: map-get($theme-colors, primary);
    text-align: center;
}

span{
    color: map-get($theme-colors, primary);
}