<div class="container images mt-5 mb-4">
    <div *ngIf="images; then imagesBlock else oneImageBlock"></div>
    <ng-template #imagesBlock>
        <div id="img-gallary-carousel" class="carousel slide mb-5" data-ride="carousel">
            <ol class="carousel-indicators">
              <li 
                *ngFor="let i1 of imageiterations"
                data-target="#img-gallary-carousel"
                [attr.data-slide-to]="i1" 
                class="{{i1 === 0 ? 'active' : ''}}"
              >
              </li>
            </ol>
            <div class="carousel-inner">
              <div 
                *ngFor="let i1 of imageiterations"
                class="carousel-item {{i1 === 0 ? 'active' : ''}}"
              >
                <a href="{{images[i1]}}" target="_blank">
                  <img class="d-block" src="{{images[i1]}}" alt="Image {{i1 + 1}}">
                </a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#img-gallary-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#img-gallary-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </ng-template>
    <ng-template #oneImageBlock>
      <div *ngIf="image" id="img-gallary-carousel" class="carousel slide mb-5" data-ride="carousel">
          <div class="carousel-inner">
            <div 
              class="carousel-item active"
            >
              <a href="{{image}}" target="_blank">
                <img class="d-block" src="{{image}}" alt="Image 1">
              </a>
            </div>
          </div>
      </div>
    </ng-template>
</div>