<header class="page-header page-header-dark bg-gradient-{{color}}">
    <div class="page-header-content pt-10 text-{{color}}-text">
        <div class="container">
            <ng-content></ng-content>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 3" width="100%" height="30px" preserveAspectRatio="none" fill="currentColor">
            <path d="M150,3H0V0H150ZM0,0S32,3,72,3,150,0,150,0"></path>
        </svg>
    </div>
</header>