@import '../../theme.scss';

span{
    color: map-get($theme-colors, primary);
}

.project-more-btn{
    &:hover{
        color: map-get($theme-colors, primary) !important;
    }
}

.timeline-item-duration{
    display: block;
    margin-bottom: .5rem;
    text-align: right;
}
@media (min-width: 992px){
    .timeline-item-duration{
        float:right;
        margin-bottom: 0;
    }
}