<div *ngIf="qualification" class="qualification-item hvr-grow-shadow rounded-lg lift mt-3 mb-2" title="{{qualification.name}}" [ngStyle]="qualification.imagestyle">
    <div class="icon-holder mb-3">
        <div *ngIf="qualification.image; then imageBlock else iconBlock"></div>
        <ng-template #imageBlock>
            <img src="{{qualification.image}}"/>
        </ng-template>
        <ng-template #iconBlock>
            <div *ngIf="qualification.icon; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock><fa-icon [icon]="qualification.icon" size="6x"></fa-icon></ng-template>
            <ng-template #elseBlock><fa-icon [icon]="['fas', 'award']" size="6x"></fa-icon></ng-template>
        </ng-template>
    </div>
    <h5 title="{{qualification.name}}">{{ qualification.name }}</h5>
    <span *ngIf="qualification.location" class="mb-2">
        <fa-icon class="mr-2" [icon]="['fas', 'map-marker-alt']" size="1x"></fa-icon>
        {{qualification.location}}
    </span>
    <div *ngIf="qualification.startdate || qualification.enddate" class="text-primary mb-2">
        <app-daterange [startdate]="qualification.startdate" [enddate]="qualification.enddate" [current]="qualification.current" [format]="'yyyy'"></app-daterange>
    </div>
    <h6 title="{{qualification.grade}}">{{ qualification.grade }}</h6>
</div>