$theme-colors: (
  "primary": #01a3e2, //main text colour
  "primary-text": white,

  "secondary": #01a3e2, //Will sometimes have white text - Don't choose something too light
  "secondary-text": white,
  "secondary-text-title": white, //Text colour of name in page header

  "tertiary": #f6f6f6, //sections will alternate between this colour and white
  "tertiary-text": black,

  "header-button": #ffa500, //BG colour of Contact Button in nav bar
  "header-button-text": black, //Text colour of Contact Button in nav bar

  "footer": #454545, //page footer background colour
  "footer-text": white
);

$enable-gradients: true;
$enable-shadows: true;

@import "node_modules/bootstrap/scss/bootstrap";