<app-header-group color="secondary">
    <div class="text-center" style="margin-top: 50px;">
        <app-avatar></app-avatar>
        <div class="profile-intro">
            <div class="name text-secondary-text-title">
                <h1 class="display-4 name-1"> {{firstname}}</h1>
                <h1 class="display-4 name-mid">&#8729;</h1>
                <h1 class="display-4 name-2"> {{lastname}}</h1>
            </div>
            <div class="profile-detail text-secondary-text">
                {{profile.title}}
            </div>
        </div>
    </div>
</app-header-group>
<div *ngIf="profile.projects != null && profile.projects.length > 0">
    <app-group color="{{projectsColour}}" nextcolor="{{projectsColourNext}}" mark="Projects">
        <div>
            <div class="text-center">
                <div class="row justify-content-center">
                    <div class="section-header col-lg-6">
                        <h2>My Projects</h2>
                        <p class="section-header-desc">
                            These are my own public and private projects.
                            <br/><br/>
                            Select a Project for more information.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <app-project-item 
                        class="col-md-6 col-lg-4 mb-5" 
                        *ngFor="let project of profile.projects"
                        [project]="project"
                        (click)=selectProject(project)
                    >
                    </app-project-item>
                </div>
            </div>
        </div>
    </app-group>
</div>
<div *ngIf="profile.roles != null && profile.roles.length > 0">
    <app-group color="{{rolesColour}}" nextcolor="{{rolesColourNext}}" mark="Experience">
        <div>
            <div class="text-center">
                <div class="row justify-content-center">
                    <div class="section-header col-lg-6" style="margin-bottom: 30px;">
                        <h2>Experience</h2>
                        <p class="section-header-desc">
                            My professional experience.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <ul class="timeline">
                            <li 
                                *ngFor="let role of profile.roles"
                            >
                                <app-timeline-item [role]="role">
                                </app-timeline-item>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </app-group>
</div>
<div *ngIf="profile.qualifications != null && profile.qualifications.length > 0">
    <app-group color="{{qualificationsColour}}" nextcolor="{{qualificationsColourNext}}" mark="Education">
        <div>
            <div class="text-center">
                <div class="row justify-content-center">
                    <div class="section-header col-lg-6" style="margin-bottom: 30px;">
                        <h2>Qualifications</h2>
                        <p class="section-header-desc">
                            My academic and professional qualifications.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <app-qualification 
                        class="col-md-4 col-lg-3 col-sm-6 mb-3" 
                        *ngFor="let qualification of profile.qualifications"
                        [qualification]="qualification"
                        (click)=selectQualification(qualification)
                    >
                    </app-qualification>
                </div>
            </div>
        </div>
    </app-group>
</div>
<div *ngIf="profile.qualifications != null && profile.qualifications.length > 0">
    <app-group color="{{skillsColour}}" nextcolor="{{skillsColourNext}}" mark="Skills">
        <div>
            <div class="text-center">
                <div class="row justify-content-center">
                    <div class="section-header col-lg-6" style="margin-bottom: 30px;">
                        <h2>Skills</h2>
                        <p class="section-header-desc">
                            My key skills and technologies.
                            <br/><br/>
                            Click on a technology to show projects that use it.
                        </p>
                    </div>
                </div>
                <div class="justify-content-center">
                    <app-skill-list 
                        [skills]="profile.skills"
                        [showprojects]="true"
                    >
                    </app-skill-list>
                </div>
            </div>
        </div>
    </app-group>
</div>
<app-group color="{{aboutColour}}" nextcolor="footer" mark="About">
    <div>
        <div class="text-center">
            <div class="row justify-content-center">
                <div class="section-header col-lg-6" style="margin-bottom: 30px;">
                    <h2>About Me</h2>
                </div>
                <div class="section-header-desc pl-3 pr-3" [innerHTML]="profile.about"></div>
            </div>
        </div>
    </div>
</app-group>